# dependencies
node_modules
.pnpm-store

# builds
dist
.next
.turbo
out
build
coverage

# env
.env
.env.*
!.env.example
deploy/gcp/secrets.env

# logs / OS
*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# prisma
packages/database/src/generated

# misc
*.tsbuildinfo
.vercel
